@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-playfair antialiased bg-background text-foreground;
  }
}

@layer utilities {
  .font-playfair {
    font-family: 'Playfair Display', serif;
  }
}

.prose {
  font-family: 'Playfair Display', serif;
  line-height: 1.8;
  letter-spacing: 0.01em;
}

.prose p {
  margin-bottom: 1.5em;
}